In [1]:
import numpy as np
import pandas as pd
from sklearn.cluster import KMeans
import matplotlib.pyplot as plt

In [5]:
df = pd.read_csv("pca_output.csv")
df

,PC1,PC2,PC3,PC4,country,region,subregion
0,-2.913025,0.095621,-0.718118,1.005255,Afghanistan,Asia,Southern Asia
1,0.429911,-0.588156,-0.333486,-1.161059,Albania,Europe,Southern Europe
2,-0.285225,-0.455174,1.221505,-0.868115,Algeria,Africa,Northern Africa
3,-2.932423,1.695555,1.525044,0.839625,Angola,Africa,Middle Africa
4,1.033576,0.136659,-0.225721,-0.847063,Antigua and Barbuda,North America,Caribbean
...,...,...,...,...,...,...,...
162,-0.820631,0.639570,-0.389923,-0.706595,Vanuatu,Oceania,Melanesia
163,-0.551036,-1.233886,3.101350,-0.115311,Venezuela,South America,South America
164,0.498524,1.390744,-0.238526,-1.074098,Vietnam,Asia,South-Eastern Asia
165,-1.887451,-0.109453,1.109752,0.056257,Yemen,Asia,Western Asia
166,-2.864064,0.485998,0.223167,0.816364,Zambia,Africa,Eastern Africa